<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ServiceInvoker</servlet-name>
		<display-name>ServiceInvoker</display-name>
		<description></description>
		<servlet-class>ServiceInvoker</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceInvoke</servlet-name>
		<display-name>ServiceInvoke</display-name>
		<description></description>
		<servlet-class>muleclient.HelloMuleClient.ServiceInvoke</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServiceInvokeServlet</servlet-name>
		<display-name>ServiceInvokeServlet</display-name>
		<description></description>
		<servlet-class>com.msoftgp.mule.ServiceInvokeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceInvoker</servlet-name>
		<url-pattern>/ServiceInvoker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceInvoke</servlet-name>
		<url-pattern>/ServiceInvoke</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceInvokeServlet</servlet-name>
		<url-pattern>/ServiceInvokeServlet</url-pattern>
	</servlet-mapping>
</web-app>
